name: CI sample

on:
  pull_request:
    branches:
      [ main ]

jobs:
  test:
    name: jest-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: setup node with cache option
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Test
        run: |
          npm ci
          npm test


