name: CI sample

on:
  pull_request:
    branches:
      [ main ]

jobs:
  test:
    name: jest-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: setup node with cache option
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Test
        run: |
          npm ci
          npm test


