# Create relase
# 'v'で始まるタグをプッシュすることでGitHub Releaseを作成する
# 今となってはGitHub標準機能で賄えるかも知れない
# 手動起動のみにしておく
on:
  workflow_dispatch:
  # push:
  #   tags:
  #     - 'v*'

name: Create Release

jobs:
  # publish:
  #   name: Publish to npm
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #       with:
  #         node-version: '16'
  #         cache: 'npm'
  #     - name: Publish
  #       run: |
  #         npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
  #         npm ci
  #         npm publish
  #       env:
  #         NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  create-github-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    # needs: publish
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Create Release Notes
        uses: actions/github-script@v8.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            await github.request(`POST /repos/${{ github.repository }}/releases`, {
              tag_name: "${{ github.ref }}",
              generate_release_notes: true
            });
